@import url("https://fonts.googleapis.com/css2?family=Angkor&family=Bebas+Neue&family=Dosis&display=swap");

body {
  margin: 0;
  font-family: "Dosis", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #aa443c;
  color: #0e2636;
}
